<div class="center-flex">
    <mat-form-field class="search-input">
        <mat-label>Pesquisar workshop por nome: </mat-label>
        <input matInput (input)="search($event)" placeholder="Ex. Rodri..">
    </mat-form-field>
</div>

<div class="center-flex">
    <mat-card class="mat-card-default">
            <mat-expansion-panel disabled class="disabled-panel">
                <mat-expansion-panel-header >
                    <mat-panel-title>
                        Id
                    </mat-panel-title>
                    <mat-panel-description>
                        Nome
                    </mat-panel-description>
                </mat-expansion-panel-header>
            </mat-expansion-panel>
            @for (workshop of workshops; track $index) {
                <mat-accordion>
                    <mat-expansion-panel class="no-border">
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                {{workshop.id}}
                            </mat-panel-title>
                            <mat-panel-description>
                                {{workshop.name}}
                            </mat-panel-description>
                        </mat-expansion-panel-header>
                        
                        <mat-card-subtitle>
                            {{workshop.realizationDate}}
                        </mat-card-subtitle>
                        <mat-card class="details-card">
                            <mat-card-content>
                                {{workshop.description}}
                            </mat-card-content>
                        </mat-card>
                        <div class="details-buttons">
                            <button mat-raised-button (click)="openDialog(workshop.id)" color="primary">Lista de colaboradores presentes</button>
                            <div>
                                <!-- <button mat-raised-button color="accent" (click)="deleteProcess(workshop.id)" >Editar</button> -->
                                <button mat-raised-button color="warn" (click)="deleteProcess(workshop.id)" >Delete</button>
                            </div>
                        </div>
                    
                    </mat-expansion-panel>
                </mat-accordion>
            <mat-divider></mat-divider>
        }
        
    </mat-card>
</div>

