/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.center-flex{
    display: flex;
    justify-content: center;
    align-items: center;
}
mat-card{
    width: 900px;
}
.search-input{
    width: 900px;
    margin-top: 32px;
}

@media screen and (max-width:680px) {
    mat-card{
        width: 100vw;
    }
    .search-input{
        width: 100vw;
        margin-top: 32px;
    }
}